.banner {
  width: 100%;
}

.content {
  h1 {
    font-size: 3rem;
    font-weight: bold;
    line-height: 3.625rem;
  }

  .postInfo {
    margin-top: 1.5rem;
    color: var(--gray-150);

    span {
      margin-left: 1rem;
    }

    svg {
      margin-right: 0.5rem;
    }

    .editInfo {
      margin-top: 1rem;
      font-size: 0.875rem;
      line-height: 1rem;
    }

  }

  .postContent {
    h2 {
      margin: 4rem 0;
      font-size: 2.25rem;
      line-height: 3.125rem;
      font-weight: bold;
      color: var(--white);
    }

    p,
    ul {
      color: var(--gray-150);
      font-size: 1.125rem;
      line-height: 1.5rem;
    }

    margin-bottom: 4rem;
  }
}

.footer {
  border-top: 1px solid rgba(215, 215, 215, 0.1);

  nav {
    display: grid;
    grid-template-columns: repeat(2, 0.5fr);

    padding: 5rem 0;

    a {
      display: grid;

      font-size: 1rem;
      line-height: 1.2rem;
      font-weight: bold;
      color: var(--pink-500);

      & > span {
        display: block;
        color: var(--white);
        font-size: 1.125rem;
        line-height: 1.3rem;

        margin-bottom: 0.5rem;
      }
    }

    transition: filter 0.2s;

    &:hover {
      filter: brightness(0.8);
    }
  }

  .prev {
    text-align: left;
  }
  .next {
    text-align: right;
  }
}
